:root {
    --commonColour: 142, 43%, 54%;
    --uncommonColour: 223, 99%, 61%;
    --rareColour: 263, 70%, 68%;
    --legendaryColour: 15, 81%, 54%;
    --mythicColour: 194, 85%, 62%;

    /* versions of the colours just a little off from white */
    --commonFadeColour: 142, 43%, 95%;
    --uncommonFadeColour: 223, 99%, 95%;
    --rareFadeColour: 263, 70%, 95%;
    --legendaryFadeColour: 15, 81%, 95%;
    --mythicFadeColour: 194, 85%, 95%;

    --accessoryColour: 15, 81%, 54%;
    --materialColour: 194, 85%, 62%;
    --toolColour: 222, 99%, 57%;
    --characterColour: 263, 70%, 68%;
}

* {
    box-sizing: border-box;
    margin: 0;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}


/*Dark Scrollbar*/
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #fff0; }
::-webkit-scrollbar-thumb { background: #222; }
::-webkit-scrollbar-thumb:hover { background: #252525; }
::-webkit-scrollbar-corner { background: #0000; }

html {
    scroll-behavior: smooth;

    width: 100%;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    width: 100%;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;

    width: 100%;

    a {
        color: #58BD7D;
        text-decoration: none;
    }

    .footer-text {
        display: flex;
        justify-content: center;
        gap: 10px;
    
    }
}

main {
    padding: 1rem;

    max-width: 1000px;
    margin: 0 auto;
}

.desriptionbox {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.group-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

    h2 {
        margin: 0;
    }

    input {
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #000;
        height: 30px;
    }

    .sort {
        margin-left: auto;
    }

    select {
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #000;
        height: 30px;
    }
}

h3,
p {
    margin: 0;
}

#items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.item {
    --rarityColour: var(--commonColour);
    --rarityFadeColour: var(--commonFadeColour);
    --typeColour: var(--materialColour);

    border: 2px solid #333;
    border-bottom-width: 5px;
    /* padding: 1rem; */
    border-radius: 0.5rem 0.5rem 0.7rem 0.7rem;

    max-width: 290px;
    width: 100%;

    .description {
        margin-bottom: 1rem;
    }

    /* Set the rarity colour */
    &.common {
        --rarityColour: var(--commonColour);
        --rarityFadeColour: var(--commonFadeColour);
    }
    &.uncommon {
        --rarityColour: var(--uncommonColour);
        --rarityFadeColour: var(--uncommonFadeColour);
    }
    &.rare {
        --rarityColour: var(--rareColour);
        --rarityFadeColour: var(--rareFadeColour);
    }
    &.legendary {
        --rarityColour: var(--legendaryColour);
        --rarityFadeColour: var(--legendaryFadeColour);
    }
    &.mythic {
        --rarityColour: var(--mythicColour);
        --rarityFadeColour: var(--mythicFadeColour);
    }

    /* Set the type colour */
    &.material {
        --typeColour: var(--materialColour);
    }
    &.accessory {
        --typeColour: var(--accessoryColour);
    }
    &.tool {
        --typeColour: var(--toolColour);
    }
    &.character {
        --typeColour: var(--characterColour);
    }

    border-color: hsl(var(--rarityColour));
    background: linear-gradient(130deg, white 50%, hsl(var(--rarityFadeColour)) 50%);

    .rarity {
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
    }

    .rarity.pill,
    .name {
        background-color: hsl(var(--rarityColour));
    }

    .type {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        color: white;
    }


    

    .type.pill {
        background-color: hsl(var(--typeColour));
    }
}

.name {
    padding: 0.5rem;
    color: white;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    .pill-details {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 0.5rem;
    }

    .pill {
        background-color: #333;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;

        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .source {
        margin-top: 1rem;
        width: 100%;

        h3 {
            margin: 0;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }
}



/* if the width is less than 600px */
@media (max-width: 600px) {

    body {
        font-size: 20px;
    }

    .desriptionbox {
        width: 100%;

        p {
            margin-bottom: 0.5rem;
        }
    }

    .group-header {
        display: grid;

        grid-template-areas: "h2 select"
                             "input input";

        gap: 10px;

        h2 {
            text-align: center;

            grid-area: h2;
        }

        select, input {
            font-size: 2rem;
            height: 50px;
            width: 100%;
            border-radius: 15px;
        }

        .searchbox {
            width: 100%;

            grid-area: input;
        }

        .sort {
            margin-left: 0;

            grid-area: select;
        }
    }

    .item {
        max-width: 100%;
    }
}